################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IndacoNews/IndacoNews/bin/Debug
/IndacoNews/IndacoNews/obj/Debug
/IndacoNews/IndacoNews.Android/obj/Debug
/IndacoNews/IndacoNews.Android/bin/Debug
/IndacoNews/IndacoNews.iOS/obj/iPhone/Debug
/IndacoNews/IndacoNews.iOS/obj/iPhone/Debug
/IndacoNews/IndacoNews.UWP/obj/x86/Debug
/.vs/IndacoNews/v15
/IndacoNews
